streamlit
pandas
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-core
langchain-text-splitters
chromadb
sentence-transformers
python-dotenv
pytz
requests
huggingface_hub
numpy
pysqlite3-binary